#################################
# Maven
#################################
/target/
*.log

#################################
# IntelliJ IDEA
#################################
.idea/
*.iml
out/

#################################
# OS files (Mac)
#################################
.DS_Store

#################################
# Tomcat
#################################
/apache-tomcat*
/work/
/temp/

#################################
# Database / Secrets
#################################

# НЕ отправлять реальные пароли
src/main/resources/application.properties

# если создашь отдельный файл
application-local.properties
.env

#################################
# Compiled files
#################################
*.class

#################################
# Logs
#################################
*.log
logs/
